header{
	background: #ffe890;
	padding: 20px 0;
}

.caixa{
	position: relative;
	text-align: center;
	margin: 0 auto;
}

nav{
	position: static;
	top: 240px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color:#f13eac ;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

#titulo {
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	color: #c2944e ;
	padding: 80px ;
}

.foto{
	display: inline-block;
	width: 20%;
	margin: 0 0 0 10%;

}

.descrição1{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	margin: 5% 0 0 20%;

}

#oquesou{
	font-weight: bold;
	margin: 12px 0 12px 0;
}

.descrição2{
	font-size: 20px;
	margin: 2% 0 0 5%;
}