header{
	background: #ffe890;
	padding: 20px 0;
}

.caixa{
	position: relative;
	text-align: center;
	margin: 0 auto;
}

nav{
	position: static;
	top: 240px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color:#f13eac ;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #7fe6e0;
	text-decoration: underline;
}

footer{
	background: url("bg.png");

	text-align: center;
	padding: 40px 0;
}

.copyright{
	color: #FFFFFF;
	font-weight: bold;
}